body
    {
background-image: url("21.jpg");
background-color:  	 #4d0000;
display: block;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
color: red;

   }
   .shamim
   {
text-decoration: #4d0000;
font-size: 100px;
text-align: center;

   }
.Azim
{
text-decoration: brown;
font-size: 70px;
text-align: right;
}

.Ali {

text-decoration: darkslateblue;
font-size: 80px;
text-align: left;
}

.roku
{
text-decoration: teal;
font-size: 50px;
text-align: left;

}
.rahim
{
text-decoration: salmon;
font-size: 130px;
text-align:center;

}
.ft {

text-decoration: tomato;
text-align: left;
font-size: 50px;
line-height: ;
}
.karim
{
text-decoration: solid;
text-align: center;
 font-size: 120px;
}

.qr
{
text-decoration: tomato;
text-align: left;
font-size: 50px;
}

.gf
{
text-decoration: tomato;
text-align:center;
font-size: 150px;  
}

.rt
{
text-decoration: tomato;
text-align:left;
font-size:80px;   
}
.gt
{
text-decoration: tomato;
text-align:left;
font-size:80px; 
}
.pt
{
text-decoration: tomato;
text-align:left;
font-size:80px; 
}
.pk
{
text-decoration: tomato;
text-align:center;
font-size:100px; 
}
.clg
{
text-decoration: tomato;
text-align:left;
font-size:50px; 
}
.omg
{
text-decoration: tomato;
text-align:center;
font-size:50px; 
}
.og 
{
text-decoration: tomato;
text-align:center;
font-size:100px; 
}
.rt
{
text-decoration: tomato;
text-align:left;
font-size:50px; 
}
.gt
{
text-decoration: tomato;
text-align:left;
font-size:50px;
}
.pr
{
text-decoration: tomato;
text-align:center;
font-size:150px;
}
.rk
{
text-decoration: tomato;
text-align:center;
font-size:80px;
}
.lm
{
text-decoration: tomato;
text-align:center;
font-size:80px;
}
.bz
{
text-decoration: tomato;
text-align:center;
font-size:50px;
}
.ft
{
text-decoration: tomato;
text-align:center;
font-size:80px;
}
.ty
{
text-decoration: tomato;
text-align:center;
font-size:80px;
}
.fg
{
text-decoration: tomato;
text-align:center;
font-size:80px;
}
.rm
{
text-decoration: tomato;
text-align:center;
font-size:80px;
}